sudo: required
dist: trusty

language: java
jdk:
- oraclejdk8

cache:
  directories:
  - $HOME/.m2/repository

before_install:
  # setup https authentication credentials, used by ./mvnw release:prepare
  - git config credential.helper "store --file=.git/credentials"
  - echo "https://$GH_TOKEN:@github.com" > .git/credentials

install:
  # Override default travis to use the maven wrapper
  - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - .travis/publish.sh

branches:
  except:
    - /^[0-9]/

env:
  global:
  # Ex. travis encrypt -r org/repo GH_TOKEN=XXX-https://github.com/settings/tokens-XXX
  - secure: "pmNax9rwqJlxVYSKSykAMe2jjhdIi8TMnXumkGEEW3TK7SQ3qoThgx1GiItkDf62NhlUJfv6/kfk7UzuVzFNCfDyE3MdZtJyT4IN+jSvuzvc8lYOwsEaaA+s+9bDjeUsHJNkj3RjprBaWwLxxaXaaoXD4wuQ0UDWNd99SNZWXP/vOMmapuEGgSV4tK8eHn+NxMXuwGKjK/6+GDOurJM/wRgaCFO2dWXgXZQp39pdX7kRrcQ6uHUJDOK0aUJDSWdxlQo850BITkFFWCfzYnOn9KZP7tcsM7M60ZiyXO8n344HiHpZ8xCSvI49RppA2wXDcpOdAmAVGAYy143RPQMdkaQMtlduRmv7WVx4z1QqOTKK6n2fUbxwV8j049O1YZVKuHm8CovMjhT0YB14qLwG92vvTX4UIuyr5BlRGbb4/esfxEb+plXBIIM20kNhjjx9d/HgIMpBMhsLWIiFo4l7VXwvKyP7CnDPfrwPj2EM1UUTkRl9csccw/Lcx6LGyNpVmUHd9qsenGs7cScYHe9pYOLNEXooLyvPGpyuxmdQxRi6vbOXx4B7TksDBwHOWa0bAdpnFn6ZD9YeO7/37OVsCLztZFKoWD9OQAy8gfj0r6nDYQzfiepdZvLjncyFM2mjQFF7otyjDNyiY1cl80kYTinvWVdTmEdLtbOTKFTdqJ0="
  # Ex. travis encrypt -r org/repo SONATYPE_USER=your_sonatype_account
  - secure: "aYrXGPXmlGjwgc5nORpIhgTX2XapvgET9SJjtnxcR+UIxTgAkbkuWSluGytIoXtyv2XfaOz5adsPjE84a/o3kJaxTndccM5fQEqTeO4Ajjp5yan9kQMGdg72HE9jOBpSRMejjCewJQXJ7JmzoB+fI4XLUzVsNH5CUHW5J8WX+1huDEyfuRkRwZYxYZkVJcpAAPFVXGBVT/ObLxYp6ZUDE0UbjGCbW+tfzB2CRO0nJ557wwJ3OHK/vTPfzDZeuT0sZM7eDuLhhcUt3ODuoXxS8278zsqzJ8P48XPpwxJGzH2qsOsUDhnhMHjn9g5sJ5SvOxwTh5HrtIAFxsaaRm8eeZlNh8/EbXZPIRqMF0OSN0wyYAAajnt098Cppacqcuco8c6jbivE3ut32mOR468U3OfT5HbIcb/90HrWGUnVwsNjgf7eBkklHuU6hfXEWmDltTK1XylOb/MqIEX+0igsVfwlHntACO4vCzGkgXxW7WA6uhRyl6wEv0IQgRo7ZrO2+uI8WPof2+4So0PITn2z4w11BEiqF8W52Wt+0poVvywwmsozbr3iRdJpR3bIWsDlyuSKory2mfLPoD68MTvWIpePNz0RfOM0nOs0hTRmgQtO2bT05mP24h70HeZdW8At+C+m1bKTJ/mrodlNFyomHqgumKkpoaaU1htEfB0vKLg="
  # Ex. travis encrypt -r org/repo SONATYPE_PASSWORD=your_sonatype_password
  - secure: "VmoyywoEV8jo+fpXMPqj8Xb0cnsDhOtO387Xvl5aNyD6c/LgQg2F8ay8DuW8WrrPMdRRbU5auc4qLqUTfIwkGFLIZYtODD0bK8boOvrogqCF5P2rUiHIcs3aiyZzvi2Md73eZ1m4CFXvNbAzP/oJ8hYHJSyqe6tjIGX5Ioei2b2a5Ti5pZCchHdXHU+nG7M7ZmJWAUV+35ilGS2Kxlwj4KbrLHdTLB2gpFN7ORNU6lBKmWvr6Qp6vSf1RoOpR424nSDHqpWjJW5FYEGm6Wu4rDRI5lfmjmNJ0o/YXr/bpKr7YKDYBOok1Jp+neiBgbyGkbIVelcXf0B6G+BVQw5BqtlO7KxdYhIEltmsIZ5fj5sD6Y7DOEj3C7iZrzQCwnocfqtwNvSkPt+SvCnIj3U1WXK9geqSTmNTuPvW92Z1THZu2T1YZM7ddYO2XAUToTHNA7/9MliqGNyP1w2AKf5FmTauFVU1u7yqIEicifEQHUo0xwpNWAMDFGvSxAlDh8wJ+oXx068hOrQuw8HRioin9um/UjtmoMpIci5ug1SCn/jDLJ0FDC8r/ncnGjMpGEkI5Hoe5QUfp+/hcUJSojiD4qHE00GRVziGoD3iq5hOplTfLwNX3uPu8z57L/ic5zU/gALSpzoedifBS6FZnwZRa5/IGl596YCu6bM6XgDDdf8="
  # Ex. travis encrypt -r org/repo BINTRAY_USER=your_github_account
  - secure: "e1/Y9/aJaWrm9CCg/5ofDIDbwAJorf4yi/FyzT8ZfNO+GcpBQhL2WtWxbfs8gAyvU41Dwaa0O2aPyQyRM2GaJksVd/jHa17gK+mrMiHCpFtvCCI8X1VrTVjMfA29SMZRffq1vzXIl1r9oM7WXTod7nfyDs+k19wkxtuxxHOLh/yAj/fSDUZfQRS8Zpoymkg/yNx/hXrE34Ca58BM+zQ6CKaAKxjLN+L/mkHxhwMS9tTJweplXy9+D6VqKhGYVBNUkrwN1bn08RCz9bXYfwbfzVQaQfkNGvRK9kTw8Wj0/9kvYVXZ/NRhRt4EjVWud7u/Jnz2WGj7ZvZZeb7h76et+X+y+biL2URaGwMdAD3fBsMvt4w+jBFvPFpiY9cJnyLwTRKdQM0cl3llIHtHhPJwZN5P914phpG3Rzst5fRCFt1CCn1eDg64e1zL33R/O3AqepqUWzKW0Awth+DZlFSHUJMfIMLnpzyCMS+oXxM0af5hvx6t001jptfi9vLDNfAPzwjPEk8p8guwYHZNzfDdi2VfpiPx365dfBg+MBiguFFwu/a/LWRyNFYtl0dWCTLUMiJ6COGT1EVTSKNQb4kHKQUHDsi6EHJYob2V8zLYXzUEP01pETBM3Yz8tRMo9Sc9nhzxGdpnKW6JMr2uV6Zg58t1jHMFbKTS+RsMJ1wXE6I="
  # Ex. travis encrypt -r org/repo BINTRAY_KEY=xxx-https://bintray.com/profile/edit-xxx
  - secure: "IqMXn5gRibsIOzeJl7abYXijzr5y526iZMOFVpz8FlGSRbhjxC93zvehgbaqBAloUI3qvfiPjwQzEY2S9MY2zsvPIvG3BQP/YYTH8XAfx9DEVlKkv1y4WMcmqrfp+fvqXBgOz1cQ6LgN08rtGbllfMat0y3zFXKLNs6Suh5WVVuLPTSRbyKnuMp0U94k/jxechzTTsEu1Of/Cc3hzFbWLTR+OVNmsC6ow/mzq/sFxOwsL5AVUjKDmMJv13SmxY/MO06uhe3DfY2lHp+VnxrN41VjSWPfZFFmywwdUyT+guK7DMw7mONTYwlGR2jp5Psw4l4ZyYOBEFmEb6PSahEv9zOjnqIehkc5OvRege2zNDOCoFrd2QSYNMhY3AcOncJfJWp6w4jT/OY1Mx1dQQCFAoaIQQh7RWmZ7IpqH7WJi23KblnPX3LzzkW8qPNbbonkvuG/DsgPWgsoTP0l+kikPxGxHTPvhzfit8xR59LkiFaXI7MeAjsEjerptG5nH4Lev0p9DsebylXOVX/QsJPeSC8ULWbKiXZ0OwqsECSFQSCSdq5NpDAHanniOpcd9IUwniCu0VOHwHdUkKIABokYRfV8gY49ayPfx+D6Qjfd4wxXKdFTlLvLBADweHvR9MaLRvMw1D5Qf39nAv8VZpAbsJ2eDgWHaK1r0tsjFc/mmFU="
